<h3>URL SHORTENER</h3>

<%= link_to "Shorten a URL!", new_url_path %>
 <table>
	<tr>
		<th> Original URL </th>
		<th> Shortened URL </th>
	</tr>
 	<% @urls.each do |url| %>
		<tr>
			<td> <%= link_to url.long_url, url_path(url) %> </td>
			<td> <%= url.short_url %> </td>
			<td> <%= link_to 'Delete', url_path(url), method: :delete %> </td>
		</tr>
	<% end %>
</table> 